<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Has Friend | Sign up</title>

<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/site.css" rel="stylesheet" type="text/css">
<link href="css/form.css" rel="stylesheet" type="text/css">


<script src="js/lib/jquery-1.9.1.js" type="text/javascript"></script>
<script src="js/gui.js" type="text/javascript"></script>


<script type="text/javascript" src="js/lib/cssrefresh.js"></script>

</head>
<body>
	<div id="wrapper">
	
		<div id="header">
			<div id="logo">
				<img alt="" src="image/HFlogotrans.png" width="50">
			</div>
			<ul id="menu">
				<li>Home</li>
				<li>Profile</li>
				<li>Coins: 100</li>
			</ul>
		</div>


		<div id="main">
			<div class="form">
				<form action="">
				
					<div class="heading">Sign up to HasFriend</div>
					<div class="content">Please enter your information to all the required fields to create an account on HasFriend</div>
				
					<div class="divtable">
						<div class="divrow">
							<div class="divcell">
								<span class="fieldname">Company name</span>
								<span class="fielddesc">Add your company name</span>
							</div>
							<div class="divcell">
								<input type="text" class="textbox">
							</div>
						</div>
						
						<div class="divrow">
							<div class="divcell">
								<span class="fieldname">Your Email</span>
								<span class="fielddesc">Enter valid email</span>
							</div>
							<div class="divcell">
								<input type="text" class="textbox">
							</div>
						</div>
						
						<div class="divrow">
							<div class="divcell">
								<span class="fieldname">Password</span>
								<span class="fielddesc">Enter your password</span>
							</div>
							<div class="divcell">
								<input type="text" class="textbox">
							</div>
						</div>
						
						<div class="divrow">
							<div class="divcell">
								<span class="fieldname">Confirm password</span>
								<span class="fielddesc">Check your password again</span>
							</div>
							<div class="divcell">
								<input type="text" class="textbox">
							</div>
						</div>
						
						<div class="divrow">
							<div class="divcell">
								<span class="fieldname">Description</span>
								<span class="fielddesc">Introduce your company</span>
							</div>
							<div class="divcell">
								<textarea rows="10" cols="" class="textbox"></textarea>
							</div>
						</div>
						
						
						<div class="divrow">
							<div class="divcell">
							</div>
							<div class="divcell">
								<input type="submit" class="button orange" value="Sign up">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>


		<div id="footer">
			<div id="footer-logo">
				<img alt="" src="image/HFlogo.png" width="100">
			</div>
			<div id="contact">
				<p>Contact us</p>
				<p>
					Address: TGM Tech, 268 To Hien Thanh street, district 10, Ho Chi Minh city, Vietnam <br> 
					Phone: 084 83 9907804 <br> 
					Email: toan.nguyen@2359media.com.vn
				</p>
			</div>
		</div>
		
	</div>
</body>
</html>