<h1>Listing Industries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>

  </tr>

<% @industries.each do |industry| %>
  <tr>
    <td><%= industry.name %></td>
    <td><%= industry.description %></td>
    <td><%= link_to 'Destroy', industry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Industry', new_industry_path %>
