
.form {
	max-width: 980px;
	min-width: 320px;
	margin: 10px auto 30px;
}
.form .textbox {
	margin: 0px !important;
	width: 300px;
}
.form .cbox {
	width: 322px;
	height: 41px;
}
.form .slider {
	width: 322px;
}


.divtable {
	display: table;
	margin: auto;
}

.divrow {
	display: table-row;
}

.divcell {
	display: block;
	vertical-align: top;
	padding: 10px 10px 0px !important;
	text-align: left;
}
